/* CSS files add styling rules to your content */

body {
  font-family:'Lobster', cursive;
}

P {
  font-style: italic;
  color: #FFFFFF;
}
body
  	{height: 100vh;
	background-image: url(https://cdn.glitch.com/f50d0306-c003-4321-8d48-2ebe0e4f698d%2Ftropical-1651426__340.webp?v=1579705332908);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	justify-content: center;
	margin-bottom: 30px;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
